<div class="banner">
    <img class="banner_img" src="/img/banner.png" alt="banner.png">
    <div class="banner_text">
        <p class="pack_main"><b>Our meal packages</b></p>
    </div>
</div>

<div class="main_dish">
    <p class="title"><b>Pick a package, choose your meals, achieve your goal.</b></p>
</div>

<div class="item_container">
    {{#each data}}
    <div class="meals">

        <img src="/img/{{this.img}}"><br>
        <h2>{{this.title}}</h2><br>
        <h3>{{this.category}}</h3><br>
        <h3>{{this.desc}}</h3><br>
        <h3>{{this.nOfMeals}}</h3><br>
        <h3 style="font-weight: bold; color:crimson; text-decoration: underline">{{this.price}}</h3><br><br>
    </div>
    {{/each}}
</div>